<div class="mdl-grid">

<div class="mdl-cell mdl-cell--4-col">
<div class="demo-card-square mdl-card mdl-shadow--2dp">
      <div class="mdl-card__supporting-text">
  <p> <strong>Most Popular place to end a ride:</strong>  <%= (@trips.most_end) %> </p>
    <div class="mdl-card__actions mdl-card--border">
      <p> <strong>Busiest date:</strong>
    <% busiest_day = @trips.busiest_day %>
      <%=  busiest_day[0]  %> with <%= busiest_day[1] %> rides
  </p>
      <p> <strong>Busiest day weather:</strong><br>
      temp: <%=  @trips.busiest_weather(busiest_day[0]).max_temperature %> F <br>
      precipitation: <%=  @trips.busiest_weather(busiest_day[0]).precipitation %> in. <br>
      wind: <%=  @trips.busiest_weather(busiest_day[0]).mean_wind_speed %> MPH <br>
      Visibility: <%=  @trips.busiest_weather(busiest_day[0]).mean_visibility %> Mi <br>
  </p>
  </div>
    <div class="mdl-card__actions mdl-card--border">
      <p> <strong>Least Busy date:</strong>
    <% least_busy_day = @trips.least_busy_day %>
      <%=  least_busy_day[0]  %> with <%= least_busy_day[1] %> rides
    </p>
    <p> <strong>Least busy day weather:</strong><br>
    temp: <%=  @trips.busiest_weather(least_busy_day[0]).max_temperature %> F <br>
    precipitation: <%=  @trips.busiest_weather(least_busy_day[0]).precipitation %> in. <br>
    wind: <%=  @trips.busiest_weather(least_busy_day[0]).mean_wind_speed %> MPH <br>
    Visibility: <%=  @trips.busiest_weather(least_busy_day[0]).mean_visibility %> Mi <br>
</p>
    </div>
    <div class="mdl-card__actions mdl-card--border">
    <p> <strong>Least Used Bike:</strong>  #<%= @trips.least_busy_bike.stringify_keys.first.first  %> with <%= @trips.least_busy_bike.values.first %> rides
    </p>
  </div>
  <div class="mdl-card__actions mdl-card--border">
    <p> <strong>Busiest Bike:</strong>  #<%= @trips.busiest_bike.stringify_keys.first.first  %> with <%= @trips.busiest_bike.values.first %> rides </p>
  </div>
<div class="mdl-card__actions mdl-card--border">
   <p> <strong>Average ride duration:</strong> <%= ((@trips.avg)/60).round(0)  %> minutes</p>
  </div>
  <div class="mdl-card__actions mdl-card--border">
   <p> <strong>Longest Ride:</strong> <%= (@trips.longest/60/60/24).round(1) %> days</p>
  </div>
   <div class="mdl-card__actions mdl-card--border">
   <p> <strong>Shortest Ride:</strong>  <%= (@trips.shortest) %> seconds </p>
  </div>
  <div class="mdl-card__actions mdl-card--border">
    <p> <strong>Most Popular place to start a ride:</strong>  <%= (@trips.most_start) %> </p>
  </div>
  </div>
  </div>
  </div>

<div class="mdl-cell mdl-cell--4-col">

  <div class="demo-card-square mdl-card mdl-shadow--2dp">
  <h4>Rides by Month: </h4>
      <div class="mdl-card__supporting-text">
  <table cellspacing="10">
    <th><h2>Month</h2></th>
    <th><h2>Rides</h2></th>
    <tr> <% month_array=@trips.by_month %>
      <td><strong>January:</strong></td>
      <td><%= month_array[:months][1] %></td>
    </tr>
      <tr>
        <td><strong>February:</strong></td>
        <td><%= month_array[:months][2] %></td>
      </tr>
      <tr>
        <td><strong>March:</strong></td>
        <td><%= month_array[:months][3] %></td>
      </tr>
      <tr>
        <td><strong>April:</strong></td>
        <td><%= month_array[:months][4] %></td>
      </tr>
      <tr>
        <td><strong>May:</strong></td>
        <td><%= month_array[:months][5] %></td>
      </tr>
      <tr>
        <td><strong>June:</strong></td>
        <td><%= month_array[:months][6] %></td>
      </tr>
      <tr>
        <td><strong>July:</strong></td>
        <td><%= month_array[:months][7] %></td>
      </tr>
      <tr>
        <td><strong>August:</strong></td>
        <td><%= month_array[:months][8] %></td>
      </tr>
      <tr>
        <td><strong>September:</strong></td>
        <td><%= month_array[:months][9] %></td>
      </tr>
      <tr>
        <td><strong>October:</strong></td>
        <td><%= month_array[:months][10] %></td>
      </tr>
      <tr>
        <td><strong>November:</strong></td>
        <td><%= month_array[:months][11] %></td>
      </tr>
      <tr>
        <td><strong>December:</strong></td>
        <td><%= month_array[:months][12] %></td>
      </tr>
  </table>
</div>
</div>
</div>

<div class="demo-card-square mdl-card mdl-shadow--2dp">
  <h4>Rides by Year: </h4>
    <div class="mdl-card__supporting-text">
  <table cellspacing="10">
    <th><h2>Year</h2></th>
    <th><h2>Rides</h2></th>
    <% month_array[:years].each do |year| %>
    <tr>
      <td><strong><%= year[0] %></strong></td>
      <td><%= year[1] %></td>
    </tr>
    <% end %>
  </table>
</div>

  <div class="mdl-card__actions mdl-card--border">
  <h4>Subscription Types: </h4>
      <div class="mdl-card__supporting-text">

  <table cellspacing="10">
   <table>
       <% subscribers = @trips.subscription_info  %>
      <th><strong>Customer Types</strong> </th>
      <th>Data</th>
      <% subscribers.each do |k, v| %>
      <tr>
        <td>
          <%= k.to_s.split("_").join(" ").capitalize %>
        </td>
        <td>
          <%= v %>
        </td>
      </tr>
      <% end %>
    </table>
    </div>

</div>
